/Savannah M/
/* Dropdown menu starter adapted from: https://www.w3schools.com/css/css_dropdowns.asp */

body {
  background-image: url("https://platform.theverge.com/wp-content/uploads/sites/2/chorus/uploads/chorus_asset/file/22312759/rickroll_4k.jpg?quality=90&strip=all&crop=0,10.749448450723,100,78.501103098554");
}

.hubgus { font-family: cursive; }
.gushub { font-family: Papyrus, fantasy; }

/* ===== MONTH HOVER MENU (HW2 Mod #2) ===== */

.month-widget {
  position: relative;
  display: inline-block;
  padding: 2px 6px;
  border-radius: 4px;
  text-decoration: underline;   /* highlight widget */
  cursor: pointer;
}

.month-menu {
  display: none;                /* hidden until hover */
  position: absolute;
  left: 0;
  top: 100%;
  margin: 4px 0 0 0;
  padding: 0;
  list-style: none;

  width: 70px;
  max-height: 90px;             /* forces scrollbar */
  overflow-y: auto;

  border: 1px solid #999;
  background: #fff;
  z-index: 1000;
}

.month-widget:hover .month-menu {
  display: block;
}

.month-menu li {
  padding: 6px 8px;
}

.month-menu li:hover {
  background: #eee;
  cursor: pointer;
}
